packer/ubuntu-server/build/*

docker/dibbs-ecr-viewer/.env
docker/dibbs-ecr-viewer/ecr-viewer.wizard.env
docker/dibbs-ecr-viewer/ecr-viewer.env.bak

docker/dibbs-query-connectory/.env
docker/dibbs-query-connectory/query-connectory.wizard.env
docker/dibbs-query-connectory/query-connectory.env.bak
