.DS_Store

packer/ubuntu-server/build/*

dibbs-ecr-viewer/.env
dibbs-ecr-viewer/ecr-viewer.wizard
dibbs-ecr-viewer/ecr-viewer.bak

dibbs-query-connector/.env
dibbs-query-connector/query-connector.wizard.env
dibbs-query-connector/query-connector.env.bak
